<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imgs/robot.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/playai.css">
    <title>PlayAI</title>
</head>

<body class="vh-100 d-flex flex-column">
    <div class="container-fluid flex-grow-1 bg-gradient-darklime d-flex justify-content-start align-items-center flex-column">
        <img src="/static/imgs/robot.png" class="my-5" alt="PlayAI Picture" width="100px">
        <form id="prompt-form" class="col-sm-8 col-12 mb-5 d-flex">
            <textarea type="text" name="prompt" id="prompt" class="p-3 flex-grow-1 auto-resize" placeholder="Ask PlayAI" required></textarea>
            <button type="submit" id="send" class="bg-white border border-2 border-white">
                <img src="/static/imgs/send_fancy.svg" class="p-3" alt="Send" width="56.25">
            </button>
        </form>
        <div class="response-container col-12 d-flex flex-column justify-content-start align-items-center">
            <div id="loader-container" class="d-flex justify-content-center">
                <div id="loader" class="mb-5"></div>
            </div>
            <div id="response" class="text-white">The response will be displayed here...</div>
        </div>
    </div>

    <script>
        const form = document.getElementById("prompt-form");
        const promptInput = document.getElementById("prompt");
        const sendBtn = document.getElementById("send");
        const response = document.getElementById("response");
        const loader = document.getElementById("loader");

        loader.style.display = "none"

        promptInput.addEventListener('input', autoResize);
        function autoResize() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }

        async function ask(event) {
            event.preventDefault();
            if (response.textContent == "The response will be displayed here...") {
                response.textContent = "";
            }
            loader.style.display = "flex"
            loader.classList.add("loader");
            const formData = new FormData(form);
    
            try {
                const resp = await fetch("/ask", {
                    method: "POST",
                    body: formData
                });
                if (!resp.ok) throw new Error("Failed to receive response from PlayAI!");
                const data = await resp.json();
    
                const myPromptContainer = document.createElement("div")
                const myPrompt = document.createElement("p")
                myPrompt.textContent = promptInput.value;
                myPromptContainer.appendChild(myPrompt)
                myPromptContainer.classList.add("border", "border-3", "rounded-3", "border-white", "p-3", "mb-2", "shadow-lg", "custom-bg-darkblue")

                const newResponse = document.createElement("div")
                newResponse.classList.add("border", "border-3", "rounded-3", "border-white", "p-3", "mb-5", "shadow-lg", "custom-bg-light")
                newResponse.innerHTML = data.answer

                response.classList.remove("loader");
                promptInput.value = "";

                loader.classList.remove("loader");
                loader.style.display = "none"

                const firstChild = response.firstChild;
                // insert the new node before the first child node
                response.insertBefore(myPromptContainer, firstChild);
                response.insertBefore(newResponse, firstChild);
                
                // await typeText(text, response.lastElementChild)
            } catch (err) {
                loader.classList.remove("loader");
                response.textContent = "Oops! Something went wrong!";
                console.log("ERROR", err);
            }
        }

        form.addEventListener("submit", ask);

        async function typeText(text, element) {
            for (let i = 0; i < text.length; i++) {
                element.textContent += text[i];
                await new Promise(resolve => setTimeout(resolve, 25)); // Adjust the speed by changing the delay (in milliseconds)
            }
        }

    </script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>

</html>